@using BankSimulationMVC.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AccountDto

<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Create" asp-controller="Account">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create an account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <label asp-for="AccountNumber"></label>
                    <input placeholder="Ex: 0866616508" asp-for="AccountNumber" />
                    <span asp-validation-for="AccountNumber"></span>
                    <label asp-for="OwnerName"></label>
                    <input placeholder="Ex: Long" asp-for="OwnerName" />
                    <span asp-validation-for="OwnerName"></span>
                    <label asp-for="Balance"></label>
                    <input placeholder="Ex: 0" asp-for="Balance" type="number" />
                    <span asp-validation-for="Balance"></span>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal">Close</button>
                    <button type="Submit">Create account</button>
                </div>
            </div>
        </form>
    </div>
</div>